@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-1">Ебанный рот этого казино</h1>
    <p>Узнать больше о <a href="https://vk.com/bibeezy">создатель этой помойки</a>.</p>
</div>
